@model GuiaDeConteudo.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastramento de Usuário</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cpf_usuario" class="control-label">CPF</label>
                <input type="number" asp-for="cpf_usuario" class="form-control" placeholder="Somente números" />
                <span asp-validation-for="cpf_usuario" class="text-danger"></span>
            </div>
            <div class="form-group" hidden=true>
                <label asp-for="tipo" class="control-label"></label>
                <select asp-for="tipo" class="form-control">
                    <option value=0 selected>Padrão</option>
                    <option value=1>Administrador</option>
                </select>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome Completo</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataNascimento" class="control-label">Data de Nascimento</label>
                <input type="date" asp-for="dataNascimento" class="form-control" />
                <span asp-validation-for="dataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">e-mail</label>
                <input asp-for="email" class="form-control" placeholder="nome@exemplo.com" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grauEscolaridade" class="control-label">Grau de Escolaridade</label>
                <select asp-for="grauEscolaridade" class="form-control">
                    <option value=0>Sem formação</option>
                    <option value=1>Ensino Fundamental</option>
                    <option value=2>Ensino Médio</option>
                    <option value=3>Superior Incompleto</option>
                    <option value=4>Superior Completo</option>
                    <option value=5>Pos-Graduação</option>
                </select>
                <span asp-validation-for="grauEscolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formacao" class="control-label">Formação/Profissão</label>
                <input asp-for="formacao" class="form-control" placeholder="Ex: Engenheiro Civil/Estudante Ensino Médio" />
                <span asp-validation-for="formacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senha" class="control-label">Informe sua senha</label>
                <input type="password" asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
