@model GuiaDeConteudo.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cpf_usuario" class="control-label"></label>
                <input asp-for="cpf_usuario" class="form-control" />
                <span asp-validation-for="cpf_usuario" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="senha" class="control-label"></label>
                <input asp-for="senha" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <h3> @ViewBag.Message</h3>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
