@model GuiaDeConteudo.Models.Material

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_material" />
            <div class="form-group">
                <label asp-for="cpf_usuario" class="control-label"></label>
                <input asp-for="cpf_usuario" class="form-control" />
                <span asp-validation-for="cpf_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="areaConhecimento" class="control-label"></label>
                <input asp-for="areaConhecimento" class="form-control" />
                <span asp-validation-for="areaConhecimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumo" class="control-label"></label>
                <input asp-for="resumo" class="form-control" />
                <span asp-validation-for="resumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label"></label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="justificativaAnalise" class="control-label"></label>
                <input asp-for="justificativaAnalise" class="form-control" />
                <span asp-validation-for="justificativaAnalise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
